.recipe-container{
    margin: 0 auto;
    width:60dvw;
    height:fit-content;
    padding: 1rem 0;
    display: flex;
    gap:2.5rem;
}

.recipe-img{
    width:50%;
    height: 50dvh;
    border-radius: 2rem;
    background-size: cover;
}
 .recipe-description{
    width:calc(50% - 2rem);
    height: 50%;
    display: flex;
    flex-direction: column;
 }
 .recipe-description > h1{
    width:100%
 }
 .recipe-description p{
    color:var(--text-light);
    font-weight: 600;
 }

.ingredient-item{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}
.recipe-steps{
    width:60dvw;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding: 1rem;
}
.recipe-steps div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
